body {
	background-image: url('images/about_page.png');
	background-position: center top;
	max-width: 100%
	background-repeat: no-repeat;
	background-size: cover;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
	color: #FFFFFF;
	margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 550px;
	text-align: justify;
    text-justify: inter-word;
}
