body {
	background: #000000 url('images/contact_bg.png');
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
}

.text {
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 7%;
	margin-right: 7%;
	text-align: justify;
}

.info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
}

.left-logo {
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
}

.right-logo {
	position: absolute;
	right: 20px;
	margin-top: 20px;
	height: 150px;
}

h1 {
	position: absolute;
	left: 200px;
	font-family: 'Quicksand', sans-serif;
	font-size: 78px;
	color: #FFFFFF;
}

p {
	margin-top: 130px;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	text-align: center
}
