body {
	background-image: url('images/projects_bg.png');
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
}

.text {
	margin-top: -100px;
	margin-bottom: 100px;
	margin-left: 180px;
	margin-right: 120px;
	text-align: justify;
	text-justify: inter-word;
}

.left-logo {
	margin-left: 20px;
	margin-top: 20px;
}

.right-logo {
	position: absolute;
	right: 20px;
	margin-top: 20px;
	height: 150px;
}

h1 {
	position: absolute;
	left: 200px;
	font-family: 'Quicksand', sans-serif;
	font-size: 78px;
	color: #FFFFFF;
}

p {
	margin-top: 130px;
	font-family: 'Quicksand', sans-serif;
	font-size: 23px;
	color: #FFFFFF;
}
