body {
	background: #000000 url('images/thesis_bg.png');
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
}

.text {
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 7%;
	margin-right: 7%;
}

.title {
		margin-top: 130px;
}

.summary {
	text-align: justify;
	text-justify: inter-word;
}

.left-logo {
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
}

.top-button {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -70%);
}

.right-logo {
	position: absolute;
	right: 20px;
	margin-top: 20px;
	height: 150px;
}

h1 {
	position: absolute;
	left: 200px;
	font-family: 'Quicksand', sans-serif;
	font-size: 78px;
	color: #FFFFFF;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 23px;
	color: #FFFFFF;
}

.buttons {
	margin-top: 100px;
	margin-bottom: 100px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}